@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #f3e9d3;
    padding: 0px;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 100vmin;
    margin: 25px;
    justify-content: space-evenly;
}

#queryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#queryForm > input {
    width: 70%;
    height: 30%;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px;
}

button {
    width: 20vw;
    height: 24px;
    border-radius: 4px;
    background-color: #ffdd91;
    border: solid 1px;
    box-shadow: 1px 1px 1px;
    position:relative;
    cursor: pointer;
}

button:hover {
    background-color:#fed06e;
}

button:active {
    box-shadow: 0px 0px 0px;
    top:1px;
    left:1px;
}

#main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    border-bottom: solid 1px;
    padding: 15px;
}

.query {
    background-color: #dfd1b2;
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    margin:20px;
}

.response {
    margin: 20px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
}